{% extends "layout.html" %}

{% block body %}

<div class ="row">
    
       
</div>
<div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            
      </div>
    </div>

</div>


{% if articles %}

{% for article in articles %}
{% if article.author in following %}
<div class="row">
    <div class="col-md-10 offset-md-3">

    <!-- Post Content Column -->
    <div class="col-lg-8">
      <img class="rounded-circle account-img" width="50" height="50" src="{{ article.author.profile.image.url }}">
      <!-- Title -->
      <a href="{% url 'article:detail' article.id %}"><h2 class="mt-4">{{article.title}}</h2></a> 
        
      <!-- Author -->
      <p class="lead">
        
         <a href="{{ HTTP_HOST }}/user/profile/{{article.author.username}}">{{article.author.username}}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.created_date}}</p>
      <hr>
      <!-- Preview Image -->
      {% if article.article_image %}
      <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt=""></a>
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe|truncatewords:50}}
      </p>

      <a style ="float : right;" href="{% url 'article:detail' article.id %}" class ="btn btn-danger">Read All</a>
      <hr>
         
        </div>
      </div>
      </div>
      {% endif %}
{% endfor %}



{% endif %}

{% endblock body %}