{% extends "layout.html" %}
{% block body %}

<div class="content-section">
    <div class="media">
      <div class="media-body">
        
        <img class="rounded-circle account-img" width="150" height="150" src="{{ user.profile.image.url }}">
        <h2 class="account-heading">Username: {{ user.username }}</h2>
        <h2 class="account-heading">Status: {{ user.profile.status }}</h2>
        <p class="text-secondary">{{ user.profile }}</p>
      </div>
    </div>
    <!-- FORM HERE -->
  </div>

{% endblock body %}
