{% extends "layout.html" %}
{% block body %}

<div class="content-section">
    <div class="media">
      <div class="media-body">
        
        <img class="rounded-circle account-img" width="150" height="150" src="{{ user.profile.image.url }}">
        <h2 class="account-heading">Username: {{ user.username }}</h2>
        <h2 class="account-heading">Status: {{ user.profile.status }}</h2><br>
        <a href="./following/{{user.username}}"><h2 class="mt-4">{{user.following.count}} followers</h2></a>
          <form method = "post" data-="{{ user.username }}">
              {% csrf_token %}
              {% if isSame %}
              <a href="../profilesettings" class="btn btn-primary">Profile settings</a>
              {% else %}


              <br>
              
                
                {% if follow %} 
                  <button id="button1" onclick="document.getElementById('button1')='a'" type = "submit" class = "btn btn-danger">Unfollow</button>
                  {% else %}
                  <button id="button2" onclick="document.getElementById('button2')='b'" type = "submit" class = "btn btn-primary">Follow</button>
                  {% endif %}</button>


              {% endif %}
              
              
        <h2 class="account-heading">User posts:</h2>
          {% if articles %}

{% for article in articles %}

    <!-- Post Content Column -->
    <div class="col-lg-13">
      <!-- Title -->
      <a href="{% url 'article:detail' article.id %}"><h2 class="mt-4">{{article.title}}</h2></a> 
        
      <!-- Author -->
      <p class="lead">
        
         <a href="../user/profile/{{article.author.username}}">{{article.author.username}}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.created_date}}</p>
      <hr>
      <!-- Preview Image -->
      {% if article.article_image %}
      <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt=""></a>
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe|truncatewords:50}}
      </p>

      <a style ="float : right;" href="{% url 'article:detail' article.id %}" class ="btn btn-danger">Read All</a>
      <hr>
         
        </div>
      
{% endfor %}



{% endif %}
        </p>
        
      </div>
    </div>
  </div>

{% endblock body %}
